.FORM {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px 40px 10px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .REQ {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.FIELD_WRAP {
  position: relative;
  margin-bottom: 40px;
}

.BUTTON {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #009688;
  color: #ffffff;
  box-shadow: 1px 1px 1px #0C9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.BUTTON:hover, .BUTTON:focus {
  background: #007b6d;
  cursor: pointer;
}

.BUTTON_BLOCK {
  display: block;
  width: 100%;
}

.FORGOT {
  margin-top: -20px;
  text-align: right;
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.FORGOT:hover {
  color: #179b77;
  cursor: pointer;
}

.NEW_ACCOUNT {
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  font-size: 20px;
}

.NEW_ACCOUNT:hover {
  color: #179b77;
  cursor: pointer;
}

.Loader {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.Loader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.Error {
  color: red;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 500px) {
  .FORM {
    width: 75%;
  }

  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 40px;
  }

  input, textarea {
    font-size: 18px;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
  }

  .BUTTON {
    padding: 15px 0;
    font-size: 1rem;
    font-weight: 600;
  }

  .NEW_ACCOUNT {
    font-size: 17px;
  }
}